/* Style the header with a grey background and some padding */
.header {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 20px 10px;
  position: sticky;
  top: 0;

  /* Dropdown Button */
  #langBtn {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 12px;
    border: none;
  }

  /* The container <div> - needed to position the dropdown content */
  .langSelect {
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .langSelect-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .langSelect-content a {
    color: black;
    text-decoration: none;
    display: block;
  }
  .langSelect-content a::before,
  button::before {
    content: "";
    background-size: 200%;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 10px;
    background-position-y: center;
    background-position-x: 33%;
  }
  .langSelect-content a#en::before,
  button.en::before {
    background-image: url(./images/en-flag.png);
  }
  .langSelect-content a#pt::before,
  button.pt::before {
    background-image: url(./images/pt-flag.png);
  }

  /* Change color of dropdown links on hover */
  .langSelect-content a:hover {
    background-color: rgba(32, 32, 32, 0.85);
  }

  /* Show the dropdown menu on hover */
  .langSelect:hover .langSelect-content {
    display: block;
  }

  /* Change the background color of the dropdown button when the dropdown content is shown */
  .langSelect:hover #langBtn {
    background-color: rgba(32, 32, 32, 0.85);
  }
}

/* Style the header links */
.header a {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: rgba(32, 32, 32, 0.85);
  color: white;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.sitebody {
  width: 95%;
  margin: auto;
  background-color: #823c16;
  padding: 10px;
  min-height: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0.85);
  margin: 0;
}
